<% title "accueil"  %>

<h1>ALÈM</h1>

<p>
Alem vous propose une ballade sonore à dos de dromadaire...<br/>
</p>
<p>
La caravane de musiciens traverse les dunes et les steppes sur des jeux rythmiques insolites et harmonies bien épicées.
Avec une section cuivres, un clavier et une section rythmique, l’équipe ré-explore les morceaux qui ont fait l’histoire de la Musique éthiopienne tels  Mulatu Astake, Mahmoud Ahmed, en prenant des détours par des compositions de maîtres du jazz et du funk comme Freddie Hubbard ou Dizzy Gillespie.
</p>
