<div class="latest_news well">
  <h3>ALÈM en concert</h3>
  <%= link_to "voir toutes les actualités", news_index_path  %>
  <ul>
    <% news.each do |n| %>
      <%= render :partial => 'news/short_view', locals: {actu: n} %>
    <% end %>
  </ul>
</div>
