<div class="latest_news well">
  <ul>
    <% news.each do |n| %>
      <div class="l_news">
        <%= render :partial => 'news/short_view', locals: {actu: n} %>
      </div>
    <% end %>
  </ul>
</div>
