<%title "Actualité" %>
<%description "Liste des concerts de ALÈM"%>
<h1>Actualités</h1>

<ul>
  <% @actus.each do |actu| %>
    <%= render :partial => 'news/short_view', locals: {actu: actu} %>
  <% end %>
</ul>
