// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.latest_news{
  float:right;
  margin: 15px;
  margin-left:50px;
}

.latest_news ul{
  max-height:300px;
  padding:30px;
  overflow-y:auto;
}
