<%# add navigation links to this file %>
<li><%= link_to 'News', news_index_path%></li>
<li><%= link_to 'Photos', photos_path%></li>
<li><%= link_to 'Videos', videos_path%></li>
<li><%= link_to 'Music', music_path%></li>
