<ul class='list-inline'>
  <li><div class="fb-like" data-href="http://alem-paname.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
  <li><%= tweet_button(
    :count => 'horizontal',
    :text  => "ALÈM, LE groupe d'éthiofunk à Paris !",
    :via   => 'alem_paname', 
    :url   => request.original_url,
  )%></li>
<li><%= pinit_button %></li>
</ul>

